@import "./vendor/bower_components/bootstrap/less/bootstrap.less";
@import "./vendor/bower_components/font-awesome/less/font-awesome.less";

.btn-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
